/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	License: MIT <http://opensource.org/licenses/MIT>
	Licensed by: Smashing Media GmbH <http://www.smashingmagazine.com/>
	Original author: Enrique Ramírez <http://enrique-ramirez.com/>
*/

/* Imports */
@import url("pygment.css");
@import url("typogrify.css");
@import url("fonts.css");

/***** Global *****/
/* Body */
body {
    color: #000305;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main { flex: 1 0 auto; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-family: 'Yanone Kaffeesatz', arial, serif;
}

a { color: #C74350; }

#banner { background: #F5F4EF; }
#banner a, span { color: #000305; }
#banner ul li:hover:not(.logo) { background-color: #C74350; }
#banner ul li:hover a { color: #FFFFFF; }
#banner h1 a:hover { color: #C74350; }
#banner h1 strong { font-size: 0.5em; font-weight: normal; }

#nav-mobile { background: #F5F4EF; }
#nav-mobile img { margin-top: 1em; }
#nav-mobile p { color: #000305; font-family: 'Yanone Kaffeesatz', arial, serif; }

#content p {
  margin-top: 1em;
  margin-bottom: 1em;
}
#content ul { margin: 0em 0 0 1.5em; }
#content li { list-style: outside disc !important; }
