/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	License: MIT <http://opensource.org/licenses/MIT>
	Licensed by: Smashing Media GmbH <http://www.smashingmagazine.com/>
	Original author: Enrique Ramírez <http://enrique-ramirez.com/>
*/

/* Imports */
@import url("pygment.css");
@import url("typogrify.css");
@import url("fonts.css");

/***** Global *****/
/* Body */
body {
    color: #424242;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a { color: #c62828; }

main { flex: 1 0 auto; }

h1, h2, h3, h4, h5, h6, .card-title {
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-family: 'Yanone Kaffeesatz', arial, serif;
}

#nav-logo, #sidenav-logo {
  color: #424242;
  height: 64px;
  line-height: 64px;
  font-size: 3rem;
  padding: 0 44px 0 24px;
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-size: 3rem;
}
#nav-logo:hover, #sidenav-logo:hover {
  background-color: rgba(0, 0, 0, 0);
}
#nav-logo img, #sidenav-logo img { max-height: 50%; }
nav ul a {
  color: #424242;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #c62828;
}

#contact a {
  color: white;
  font-size: 40px;
  margin: 0em 0.5em 0em 0em;
}
.footer-copyright a {
  color: white;
  text-decoration: underline;
}

#content p {
  margin-top: 1em;
  margin-bottom: 1em;
}
#content ul { margin: 1em 0em 1em 1.5em; }
#content li { list-style: outside disc !important; }
