{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block extra_head %}
<!-- Primary Meta Tags -->
<meta name="title" content="{{ article.title }}">
<meta name="description" content="{{ article.summary|striptags }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
<meta property="og:title" content="{{ article.title }}">
<meta property="og:description" content="{{ article.summary|striptags }}">
<meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/sciworkbkg.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
<meta property="twitter:title" content="{{ article.title }}">
<meta property="twitter:description" content="{{ article.summary|striptags }}">
<meta property="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/sciworkbkg.png">

{% import 'translations.html' as translations with context %}

{% if translations.entry_hreflang(article) %}
  {{ translations.entry_hreflang(article) }}
{% endif %}
{% endblock %}

{% block content %}
<h2>{{ article.title }}</h2>

<div class="row">
  <div class="col s12 m3">
    {% include 'article_infos.html' %}

    <div>
      {% include 'twitter.html' %}
      {% include 'facebook.html' %}
    </div>
  </div>
  <div class="col s12 m9">
    <div class="divider hide-on-small-only"></div>
    {{ article.content }}
  </div>
</div>

{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
  <div class="comments">
    <h2>Comments !</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ DISQUS_SITENAME }}';
      var disqus_identifier = '{{ article.url }}';
      var disqus_url = '{{ SITEURL }}/{{ article.url }}';
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the comments.</noscript>
  </div>
{% endif %}

{% endblock %}
