<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

  <!--Import FontAwesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!--Icon-->
  <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/favicon.ico">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/favicon-32x32.png" sizes="32x32">

  <!--Customize CSS-->
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}"/>

  {% block extra_head %}{% endblock extra_head %}
</head>

<body>
  <header>
    <nav id="banner" role="navigation" class="z-depth-0 white">
      <div class="nav-wrapper">
        <a href="{{ SITEURL }}/" id="nav-logo" class="brand-logo hide-on-med-and-down">
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/android-chrome-192x192.png"/>
          {{ SITENAME }}
        </a>

        <ul class="right">
          <li><a class="btn red darken-4 white-text" href="{{ REGURL }}" onclick="ga('send', 'event', 'Register', 'click');">Register</a></li>
        </ul>
        {% for typ, cls in [('desktop', 'right hide-on-med-and-down'), ('mobile', 'sidenav')] %}
        <ul class="{{ cls }}" id="nav-{{ typ }}">
          {% if typ == 'mobile' %}
          <li>
            <a href="{{ SITEURL }}/" id="sidenav-logo">
              <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/android-chrome-192x192.png"/>
              {{ SITENAME }}
            </a>
          </li>
          <li><div class="divider"> </div></li>
          {% endif %}

          {% if output_file == 'index.html' %}
            {% set active_title = 'welcome' %}
          {% elif output_file.startswith('blog') or output_file.startswith('articles') %}
            {% set active_title = 'blog' %}
          {% elif output_file.startswith('talk') or output_file.startswith('sprint') or output_file.startswith('tutorial') %}
            {% set active_title = 'program' %}
          {% elif output_file == 'prospectus.html' %}
            {% set active_title = 'sponsors' %}
          {% else %}
            {% set active_title = output_file.replace('.html', '') %}
          {% endif %}
          {% for title, link in MENUITEMS %}
          <li {% if active_title == title|lower %}class="active"{% endif %}>
            {% if link.startswith('http') %}
            <a href="{{ link }}">{{ title }}</a>
            {% else %}
            <a href="{{ SITEURL }}/{{ link }}">{{ title }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endfor %}

        <a href="#" data-target="nav-mobile" class="sidenav-trigger grey-text text-darken-3"><i class="fas fa-bars"></i></a>
      </div>
    </nav>
  </header>

  <main>
    {% if output_file == 'index.html' %}
      {% include 'cover.html' %}
    {% endif %}
    <div class="section no-pad-bot" id="content">
      <div class="container">{% block content %}{% endblock %}</div>
    </div>
  </main>

  <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row" id="contact">
        <h4>Contact us</h4>
        <a class="fa-stack" target="_blank" href="https://twitter.com/intent/tweet?screen_name=sciwork&ref_src=twsrc%5Etfw" data-show-count="false">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x grey-text text-darken-2"></i>
        </a>
        <a class="fa-stack" target="_blank" href="https://t.me/sciwork2020">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-telegram-plane fa-stack-1x grey-text text-darken-2"></i>
        </a>
        <a class="fa-stack" target="_blank" href="mailto: contact@sciwork.dev">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-envelope fa-stack-1x grey-text text-darken-2"></i>
        </a>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Website is powered by
        <a target="_blank" href="https://getpelican.com">Pelican</a>
        and
        <a target="_blank" href="https://python.org">Python</a>.
        Theme by
        <a target="_blank" href="https://materializecss.com">Materialize</a>.
      </div>
    </div>
  </footer><!-- /#contentinfo -->

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--Fix select on iOS 13-->
  <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/select.js"></script>
  <script type="text/javascript">
    (function($){
      $(function(){

        $('.sidenav').sidenav();

      }); // end of document ready
    })(jQuery); // end of jQuery name space
    $(document).ready(function(){
      $('select').formSelect();
    });
  </script>

  <!--analytics-->
{% include 'analytics.html' %}

</body>
</html>
