{% extends "base.html" %}

{% block title %}Blog{%endblock%}

{% block extra_head %}
<!-- Primary Meta Tags -->
<meta name="title" content="{{ SITENAME }}: {{ SITESUBTITLE }}">
<meta name="description" content="{{ SITEDESC }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ SITEURL }}/{{ output_file }}">
<meta property="og:title" content="{{ SITENAME }}: {{ SITESUBTITLE }}">
<meta property="og:description" content="{{ SITEDESC }}">
<meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/sciworkbkg.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ SITEURL }}/{{ output_file }}">
<meta property="twitter:title" content="{{ SITENAME }}: {{ SITESUBTITLE }}">
<meta property="twitter:description" content="{{ SITEDESC }}">
<meta property="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/sciworkbkg.png">
{% endblock %}

{% block content %}
  {% if articles %}
    {% for article in articles_page.object_list %}
      <div class="row">
        <div class="col s12 card">
          <div class="card-content">
            <div class="article-title">
              <a class="grey-text text-darken-3" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </div>
            {% include 'article_infos.html' %}
            {{ article.summary }}
          </div>
          <div class="card-action">
            <a class="red-text text-darken-3" href="{{ SITEURL }}/{{ article.url }}">read more</a>
          </div>
        </div>
      </div>

      {% include 'comments.html' %}

      {% if loop.last %}
        {% if loop.length > 1 or articles_page.has_other_pages() %}
          {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock content %}
